@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

.wrapper{

}
.box1{
  background: red;
}
.box2{
  background: blue;
}
.box3{
  background: yellow;
}
.box4{
  background: green;
}
.box5{
  background: orange;
}
.box6{
  background: pink;
}
